BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
# integer literal seperators
IntegerLiteralSeparator:
    Binary: 8
    Decimal: 3
    Hex: 0
# misc
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false